---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Stats from '~/components/widgets/Stats.astro';
import HeroText from '~/components/widgets/HeroText.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'CV Bangkit Informatika, Solusi Server Anda, Raport Digitam Madrasah, RDM Hosting',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        // {
        //   variant: 'secondary',
        //   text: 'Kontak Kami',
        //   href: '/contact',
        // },
        {
          variant: 'primary',
          text: 'Whatsapp',
          href: 'https://wa.me/6285174201840?text=Saya%20dari%20website%20bitserver.cloud%20ingin%20bertanya%20%3F',
        },
      ]}
      isSticky
    />
  </Fragment>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Server yang Aman, Kinerja Terbaik"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Selengkapnya Tentang Kami', href: '/about' },
      { text: 'Cek Harga Kami', href: '#harga' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1554098415-788601c80aef?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Hero',
    }}
  >
    <Fragment slot="title">
      Hosting Server Terbaik untuk <span class="text-accent dark:text-white highlight">Situs Anda </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Selamat datang di layanan hosting server unggulan dari
        <span class="font-semibold">CV Bangkit Informatika Teknologi (Banitech).</span></span
      >
      Kami menyediakan solusi hosting server yang andal dan canggih untuk memastikan situs web Anda tetap online dan berkinerja
      optimal. Temukan layanan hosting server terbaik untuk memenuhi kebutuhan Anda di sini!
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Keunggulan Layanan Hosting Server Kami"
    subtitle="Temukan keunggulan layanan hosting server kami yang unggul. Dari keandalan tinggi hingga dukungan teknis profesional, kami menyediakan solusi hosting yang dapat diandalkan dan memenuhi kebutuhan situs web Anda. Mulai dari kinerja optimal hingga skalabilitas mudah, kami siap membantu situs web Anda tumbuh dengan fitur tambahan yang dapat disesuaikan."
    columns={2}
    items={[
      {
        title: 'Keandalan Tinggi',
        description:
          'Layanan hosting server kami menjamin keandalan tinggi dengan infrastruktur server yang kokoh dan redundan. Dengan uptime yang hampir sempurna, situs web Anda akan tetap online tanpa gangguan, memastikan kenyamanan bagi pengunjung Anda.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Keamanan Terjamin',
        description: `Kami mengutamakan keamanan data pelanggan. Layanan hosting server kami dilengkapi dengan proteksi tingkat lanjut dan pemantauan keamanan secara real-time. Dengan demikian, Anda dapat yakin data situs Anda aman dari ancaman cyber.`,
        icon: 'tabler:shield-check',
      },
      {
        title: 'Kinerja Optimal',
        description:
          'Server kami didukung oleh teknologi terkini untuk memberikan kinerja yang optimal. Dengan kecepatan akses yang cepat dan pengelolaan sumber daya yang efisien, situs web Anda akan merespons dengan cepat, meningkatkan pengalaman pengguna secara keseluruhan.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Skalabilitas Mudah',
        description: `Kami memahami bahwa pertumbuhan situs web Anda dapat berubah dari waktu ke waktu. Oleh karena itu, layanan hosting server kami dirancang dengan skalabilitas mudah, memungkinkan Anda untuk mengelola dan mengupgrade kapasitas server sesuai dengan kebutuhan dan pertumbuhan situs Anda.`,
        icon: 'tabler:podium',
      },
      {
        title: 'Dukungan Teknis Profesional',
        description: `Kami menyediakan dukungan teknis profesional yang responsif dan membantu. Tim dukungan kami siap membantu Anda dengan segala pertanyaan atau masalah yang mungkin timbul sepanjang waktu. Dengan layanan pelanggan yang superior, Anda akan merasa didukung sepenuhnya dalam menjalankan situs web Anda.`,
        icon: 'tabler:headphones',
      },
      {
        title: 'Fitur Tambahan dan Penyesuaian',
        description: `Kami menawarkan berbagai fitur tambahan dan kemampuan penyesuaian untuk memenuhi kebutuhan khusus situs web Anda. Mulai dari fitur keamanan tambahan hingga dukungan untuk teknologi tertentu, kami menyediakan solusi yang dapat disesuaikan sesuai dengan kebutuhan Anda.`,
        icon: 'tabler:settings',
      },
    ]}
  />

  <Stats
    title="Pengguna Layanan Kita"
    stats={[
      { title: 'Lembaga', amount: '50' },
      { title: 'Website Sekolah', amount: '18' },
      { title: 'Akses Pengguna/Bulan', amount: '220' },
      { title: 'Costum Project', amount: '12' },
    ]}
  />
  <!-- Content Widget **************** -->

  <Content
    title="Layanan Kami, Pilihan Terbaik Anda"
    subtitle="Temukan bagaimana layanan hosting server kami menjadi solusi ideal untuk berbagai kasus penggunaan, memberikan solusi yang disesuaikan untuk mencapai kesuksesan."
    isReversed
    items={[
      {
        title: 'Apakah Anda mencari solusi hosting server yang dapat diandalkan untuk kebutuhan Anda?',
        description:
          ' CV Bangkit Informatika Teknologi adalah jawabannya. Dari startup yang baru berdiri hingga bisnis besar, layanan hosting server kami telah terbukti mampu memberikan keandalan tinggi dan kinerja optimal untuk berbagai kasus penggunaan. Dukungan teknis profesional kami siap membantu Anda mengatasi setiap tantangan teknis.',
      },
      {
        title: 'Manfaat menggunakan BITServer:',
        description: `- Memberikan keamanan data yang tinggi dan proteksi terhadap ancaman cyber. <br /> - Menjamin kinerja optimal situs web Anda untuk meningkatkan pengalaman pengguna. <br /> - Menyediakan penyesuaian mudah dan skalabilitas untuk pertumbuhan bisnis Anda. <br /> - Menawarkan dukungan teknis yang responsif dan berkualitas untuk memastikan kelancaran operasional situs web Anda. <br /> - Membantu bisnis kecil dan besar dalam mencapai tujuan online mereka dengan solusi hosting yang handal. `,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Gambar Hosting Server',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Anda mencari server hosting yang handal untuk website, aplikasi digital rapot, e-learning ? <br /><span
          class="text-2xl">Layanan Hosting Server</span
        >
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Pembuatan Website:',
        description: ` Layanan pembuatan website kami memastikan bahwa Anda dapat memamerkan produk dan layanan Anda secara intuitif. Dengan integrasi teknologi terbaru, kami menjamin desain yang ramah pengguna dan menarik perhatian pengunjung. Dapat disesuaikan dengan kebutuhan anda untuk profile sekolah, company profile ataupun toko online.`,
      },
      {
        title: 'Keunggulan website kami :',
        description: `- Menyediakan desain yang kohesif dan berorientasi pada pengguna untuk situs web Anda. <br /> - Efektif menyampaikan informasi produk dan layanan Anda melalui visual yang menarik. <br /> - Memprioritaskan kebutuhan pengguna dengan tata letak yang terstruktur dan navigasi yang jelas. <br /> - Mendorong pengunjung untuk mengambil tindakan dengan CTA yang strategis. <br /> - Memastikan situs web Anda berfungsi dengan baik di semua perangkat.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?q=80&w=1355&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Gambar Bisnis Website',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Anda butuh website ? <br /><span class="text-2xl">Menyederhanakan pengalaman pengguna</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- Pricing Widget ******************* -->
  <HeroText
    tagline="Harga"
    title="Harga Terbaik untuk Setiap Kebutuhan"
    subtitle="Pilih paket hosting Anda, Jika belum ada website kami siap untuk membuatkan di Custom Order"
  />

  <!-- Pricing Widget ******************* -->

  <Prices
    id="harga"
    title="Harga Layanan Kami"
    subtitle="Bayar sesuai pilihan anda"
    prices={[
      {
        title: 'Subdomain Hosting',
        subtitle: 'Cocok dengan UMKM dan Bisnis Kecil yang membutuhkan hosting untuk websitenya',
        price: 300,
        period: 'Per Tahun',
        items: [
          {
            description: 'Backup database berkala',
          },
          {
            description: 'Kecepatan Akses Ideal',
          },
          {
            description: 'Dukungan Teknis 24/7',
          },
          {
            description: 'Subdomain dari Kami nama.bitserver.cloud',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Subdomain',
          href: 'https://wa.me/6285174201840?text=Saya%20dari%20website%20bitserver.cloud%20saya%20tertarik%20menggunakan%20subdomain',
        },
      },
      {
        title: 'Domain Sendiri (sch.id Khusus Sekolah)',
        subtitle: 'Paket khusus untuk lembaga yang membutuhkan hosting untuk websitenya',
        price: 450,
        period: 'Per Tahun',
        items: [
          {
            description: 'Backup database berkala',
          },
          {
            description: 'Kecepatan Akses Ideal+',
          },
          {
            description: 'Dukungan Teknis 24/7',
          },
          {
            description: 'Domain nama.sch.id',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Domain sch.id',
          href: 'https://wa.me/6285174201840?text=Saya%20dari%20website%20bitserver.cloud%20saya%20tertarik%20menggunakan%20sch.id',
        },
        hasRibbon: true,
        ribbonTitle: 'Diskon',
        discount: true,
        dprice: 400,
      },
      {
        title: 'Custom Order',
        subtitle: 'Jika Anda membuhkan website dan domain Custom Order paket ini sangat cocok untuk Anda',
        price: '-',
        period: 'Per Tahun',
        items: [
          {
            description: 'Backup database berkala',
          },
          {
            description: 'Kecepatan Akses Ideal',
          },
          {
            description: 'Dukungan Teknis 24/7',
          },
          {
            description: 'Domain sesuai permintaan(Gratis Cek nama domain)',
          },
          {
            description: 'Costum Website (Company Profile, Website Sekolah dan lain lain)',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Costum Order',
          href: 'https://wa.me/6285174201840?text=Saya%20dari%20website%20bitserver.cloud%20saya%20tertarik%20menggunakan%20custom%20order',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Pertanyaan yang Sering Diajukan"
    items={[
      {
        title: 'Apa itu layanan hosting server??',
        description:
          'Layanan hosting server adalah layanan yang menyediakan infrastruktur server dan teknologi yang diperlukan untuk menyimpan dan mengelola situs web, aplikasi, atau data online Anda.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Berapa harga layanan hosting server?',
        description: `Harga layanan hosting server dapat bervariasi tergantung pada berbagai faktor seperti jenis layanan yang Anda pilih, kapasitas penyimpanan, dan fitur tambahan yang Anda butuhkan. Kami menawarkan berbagai paket harga yang sesuai dengan kebutuhan Anda.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Bagaimana cara memilih paket hosting yang tepat untuk saya?',
        description:
          'Pemilihan paket hosting yang tepat tergantung pada kebutuhan spesifik situs web atau aplikasi Anda. Anda perlu mempertimbangkan faktor seperti lalu lintas situs, ruang penyimpanan, kebutuhan keamanan, dan dukungan teknis yang Anda perlukan. Tim kami siap membantu Anda menemukan paket hosting yang sesuai dengan kebutuhan Anda.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Apakah saya bisa mengupgrade atau downgrade paket hosting saya?',
        description: `Ya, Anda bisa mengupgrade atau downgrade paket hosting Anda sesuai dengan kebutuhan Anda. Kami menyediakan fleksibilitas untuk mengubah paket hosting Anda agar sesuai dengan perkembangan situs web atau aplikasi Anda.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Apa yang termasuk dalam layanan dukungan teknis?',
        description: `Layanan dukungan teknis kami mencakup bantuan dalam mengelola server, menyelesaikan masalah teknis, serta memberikan saran dan bimbingan untuk memaksimalkan kinerja situs web atau aplikasi Anda. Tim dukungan kami tersedia 24/7 untuk membantu Anda dengan segala pertanyaan atau masalah yang Anda hadapi.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Kontak Kami"
    subtitle="Anda masih punya pertanyaan? langsung tanyakan kepada kami melalui kontak Whastapp dibawah"
    callToAction={{
      text: 'Saya ingin bertanya?',
      href: 'https://api.whatsapp.com/send/?phone=6285174201840&text=Saya+dari+website+bitserver.cloud+ingin+bertanya+%3F&type=phone_number&app_absent=0',
    }}
    items={[
      {
        title: 'Email Kita',
        description: 'banitech.group@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Nomor Kontak',
        description: '+62 851-7420-1840',
        icon: 'tabler:headset',
      },
      {
        title: 'Ikuti Kita',
        description: '@banitech.id',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Tetap terinformasi dengan blog BITServer"
    information={`Jelajahi koleksi artikel, panduan, dan tutorial kami tentang pengembangan web, tren desain, dan penggunaan BITServer secara efektif untuk proyek Anda.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
